.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginField{
  text-align: center;
  margin: 50px 0px
}

.loginPlacholder{
  margin: 100px auto;
  border: solid 3px #57394a;
  max-width: 1000px;
  background-color: #eab586;
}

.inputField{
  width: 80%;
  margin-left: 10px;
}

.inputField:hover{
  background-color: rgb(204, 204, 204);
}

.loginRegisterButton{
  background-color: #b2481b;
  color: white;
  border: none;
  margin: 0px 10px;
  width: 300px;
}

.loginRegisterButton:hover{
  background-color: #57394a;
}

.doulacheckPlacholder {
  margin-left: 25px;
}

.doulaCheck { 
  margin: 20px 15px
}

.pageSupport{
  text-align: center;
  font-style: italic;
}

.summaryView{
  background-color: #dbb0a0;
  text-align: center;
  border: solid 5px #e0c2c0;
  /* height: 350px; */
  /* margin: 5px; */
}

.summaryView:hover {
  background-color: #eab586;
}

.imgHolder{
  height: 200px;
  width: 200px;
  margin: 20px auto;
}

.image{
  width: 100%;
  border-radius: 50%;
  height: 100%;
  border : solid 2px #57394a;
}

.userHeader{
  margin: 30px 0px;
}

.calendly{
  background-color: #57394a;
  border: solid 5px #b2481b;
  height: auto;
}

.profile{
  background-color: #dbb0a0;
}

/* .info{
  background-color: #eab586;
  border: solid 1px #57394a
} */

.header{
  background-color: #e0c2c0;
  list-style-type: none;
  height: 50px;
  padding: 0;
  border-bottom: solid 1px #57394a;
  border-top: solid 1px #57394a;
}

/* .header{
  list-style-type: none;
  height: 50px;
  padding: 0;
} */

/* .navLinkButton{
  background-color: #4b6700;
  list-style-type: none;
  margin: 0px 5px;
  border-radius: 5px;
  border: 1px solid #212638;
} */

.navLinks{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #57394a;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  /* border-left: solid 1px #e0c2c0;
  border-right: solid 1px #e0c2c0; */
  /* margin-top: 10px; */
} 

/* .navLinks:active{
  background-color: black;
} */
a:hover{
  text-decoration: none;
  color: white;
}

.logout{
  border: none;
  background-color: #57394a;
  color: white;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.headImg{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.headImgHolder{
  width: 46px;
  height: 40px;
  margin: 4px; 
  padding: 0px
}

.profileTopInfo{
  text-align: center;
  padding-top: 75px;
}

.homeArticleOne{
  /* background-color: #57394a; */
  /* height: 1000px; */
  margin: 50px 0px;
  color: #57394a;
  text-align: center;
  font-size: 80px;
  background-image: linear-gradient(to right bottom,#e0c2c0, #57394a);
  padding: 100px;
  line-height: 250px;
  /* background-image: url("/media/doula/doulaArticleTwo.jpeg"); */
}

.homeArticleOne:hover{
  cursor: pointer;
  border: solid 1px #57394a;
}

.homeArticleTwo {
  /* background-color: #b2481b; */
  /* height: 1000px; */
  margin: 50px 0px;
  color: #57394a;
  text-align: center;
  font-size: 80px;
  background-image: linear-gradient(to left bottom,#57394a, #e0c2c0);
  padding: 100px;
  line-height: 100px;
}

.homeArticleTwo:hover{
  cursor: pointer;
  border: solid 1px #57394a;
}

.profileHead{
  background-color: #57394a ;
  color: white;
  border-radius: 5px;
}

.label{
  font-weight: bold;
}

.headImg:hover{
  border: 1px solid #b2481b;
}

.contactList{
  border-right: 1px solid #57394a;
  overflow:scroll;
}

.contact{
  background-color: #dbb0a0;
}

.contactHead{
  text-align: center;
  /* font-weight: bold; */
  text-decoration: underline;
  margin-top: 20px;
  background-color: #57394a;
  color: white
}

.intro{
  margin: 20px 0px;
}

.editImage{
  height: 200px;
  width: 200px;
  margin: 10px 
}

.account{
  text-align: right;
  margin: 25px 25px 5px 0px;
}

.changeImage{
  border: 1px solid #57394a;
  background-color: #eab586;
  margin-bottom: 25px ;
}

.report{
  margin: 10px 0px;
}

.articleText{
  font-size: 20px;
  text-align: left;
}

.articleHolder{
  background-color: #dbb0a0;
  margin: 50px 0px 100px 0px;
  text-align: center;
  padding: 50px;
}

.articleTitle {
  font-style: italic;
}

.modalButton{
  background-color: #b2481b;
  color: white;
  border: none;
  margin: 0px 10px;
  width: 100px;
}

.modalButton:hover{
  background-color: #57394a;
}

.backButton{
  background-color: #b2481b;
  color: white;
  border: none;
  margin: 3px;
  width: 30px;
}

.backButton:hover{
  background-color: #57394a;
}

.banner{
  text-align: center;
  margin: 3px 0px;
}

.adminButton{
  margin-bottom: 10px;
}

#stateForm{
  width: 65px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  /* margin-right: 730px; */
}

.articleImage{
  width: 100%;
  opacity: 50%;
  position: relative;
}

.articleHeader{
  position: absolute;
  bottom: 0px;
  max-width: 1000px;
}

.createHead{
  margin: 10px;
}

@media (max-width: 1250px){
  .banner{
    display: none;
  }
}

@media (max-width: 768px) {
  .navLinksBottom{
    margin-bottom: 50px;
  }

  .articleHeader{
    position: relative;
    font-size: 20px;
    line-height: 20px;
  }

  .cancel{
    margin-bottom: 5px;
  }

  .headImgHolder{
    display: none;
  }

  .header{
    margin-bottom: 200px;
  }

  .logout{
    padding-top: 5px;
  }

  .navLinks{
    padding: 3px;
    border-bottom: solid 1px #e0c2c0;
  }
}

