.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginField{
  text-align: center;
  margin: 50px 0px
}

.loginPlacholder{
  margin: 100px auto;
  border: solid 3px #57394a;
  max-width: 1000px;
  background-color: #eab586;
}

.inputField{
  width: 80%;
  margin-left: 10px;
}

.inputField:hover{
  background-color: rgb(204, 204, 204);
}

.loginRegisterButton{
  background-color: #b2481b;
  color: white;
  border: none;
  margin: 0px 10px;
  width: 300px;
}

.loginRegisterButton:hover{
  background-color: #57394a;
}

.doulacheckPlacholder {
  margin-left: 25px;
}

.doulaCheck { 
  margin: 20px 15px
}

.pageSupport{
  text-align: center;
}

.summaryView{
  background-color: #dbb0a0;
  text-align: center;
  border: solid 5px #e0c2c0;
  /* height: 350px; */
  /* margin: 5px; */
}

.summaryView:hover {
  background-color: #eab586;
}

.imgHolder{
  height: 200px;
  width: 200px;
  margin: 20px auto;
}

.image{
  width: 100%;
  border-radius: 50%;
  height: 100%;
  border : solid 2px #57394a;
}

.userHeader{
  margin: 30px 0px;
}

.calendly{
  background-color: #57394a;
  border: solid 5px #b2481b;
  height: auto;
}

.profile{
  background-color: #dbb0a0;
}

/* .info{
  background-color: #eab586;
  border: solid 1px #57394a
} */

.header{
  background-color: #dbb0a0;
  list-style-type: none;
  height: 50px;
  padding: 0;
  border-bottom: solid 1px #57394a;
}

/* .header{
  list-style-type: none;
  height: 50px;
  padding: 0;
} */

/* .navLinkButton{
  background-color: #4b6700;
  list-style-type: none;
  margin: 0px 5px;
  border-radius: 5px;
  border: 1px solid #212638;
} */

.navLinks{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #57394a;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  /* border-left: solid 1px #e0c2c0;
  border-right: solid 1px #e0c2c0; */
  /* margin-top: 10px; */
} 

/* .navLinks:active{
  background-color: black;
} */
a:hover{
  text-decoration: none;
  color: white;
}

.logout{
  border: none;
  background-color: #57394a;
  color: white;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.headImg{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.headImgHolder{
  width: 46px;
  height: 40px;
  margin: 2px; 
  padding: 0px
}

.profileTopInfo{
  text-align: center;
  padding-top: 75px;
}

.homeArticleOne{
  /* background-color: #57394a; */
  height: 1000px;
  margin: 50px 0px;
  color: #57394a;
  text-align: center;
  font-size: 80px;
  background-image: linear-gradient(to right bottom,#e0c2c0, #57394a);
  padding: 100px;
  line-height: 250px;
}

.homeArticleOne:hover{
  cursor: pointer;
  border: solid 1px #57394a;
}

.homeArticleTwo {
  /* background-color: #b2481b; */
  height: 1000px;
  margin: 50px 0px;
  color: #57394a;
  text-align: center;
  font-size: 80px;
  background-image: linear-gradient(to left bottom,#57394a, #e0c2c0);
  padding: 100px;
  line-height: 100px;
}

.homeArticleTwo:hover{
  cursor: pointer;
  border: solid 1px #57394a;
}

.profileHead{
  background-color: #57394a ;
  color: white;
  border-radius: 5px;
}

.label{
  font-weight: bold;
}

.headImg:hover{
  border: 1px solid #b2481b
}

.contactList{
  border-right: 1px solid #57394a;
}

.contact{
  background-color: #dbb0a0;
}

.contactHead{
  font-weight: bold;
}